
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
*.egg


env/
venv/
.venv/


.ipynb_checkpoints/


output/


BO4Mob-main/


.idea/
.vscode/
.DS_Store
*.swp
*~


# *.ipynb
